/.vscode
/Ada_King.cpp.bin
/Ada_King.cpp.prob
/Chefina_and_Swaps.cpp.bin
/Chefina_and_Swaps.cpp.prob
/Chefina_and_Swaps.exe
/Chef_and_Card_Game.cpp.bin
/Chef_and_Card_Game.py.prob
/Chef_and_Strings.cpp.bin
/Chef_and_Strings.cpp.prob
/Doctor_Chef.cpp
/Doctor_Chef.cpp.bin
/Doctor_Chef.cpp.prob
/Doctor_Chef.exe
/Missing_a_Point.cpp.bin
/Missing_a_Point.cpp.prob
/output.txt